<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="img/weather.png" type="image/x-icon">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>
            This site was created by aadhar gaur. It uses data from mapbox.com & weatherapi.com !
        </p>
        <img src="/img/aadi.jpg" class="portrait">
    </div>
    {{>footer}}
</body>

</html>